.CreditsPageContainer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Credits {
    margin-bottom: 30px;
    display: flex;
    padding: 50px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.CreditsText{
    margin-top: 10px;
}

.Logo {
    width: 30px;
}
